.leftl{
    background-color: #6AA9AD;
    
    height: 100vh;
    width: 67%;

    float: left;
    align-items: center;
    display: flex;
    justify-content:center;
}



.lg{
    background: #CFCFCF;

    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;

    form{    
            height: 374px;
            width: 386px;
            display: flex;
            align-items: center;
            flex-direction: column;
            background: #6AA9AD;
            border-radius: 46px;
            padding: 60px;
            
            h1{
                font-style: normal;
                font-weight: normal;
                align-items: center;
                color: #2F4956; 
                padding: 10px; 
                font-size: 24px;     
            }
            
            span{
                color: #97DEFF;
            }
          
        input{
            width: 266px;
            height: 33px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 8px;
            padding: 0 10px;
            font-size: 18px;  
            font-family: 'Roboto',sans-serif; 
            
        }
        button{
            width: 220px;
            height: 40px;
            background: rgba(151, 222, 255, 0.7);
            border-radius: 15px;
            padding: 0.5rem 4rem;
            color: #ffff;
            margin-top: 30px;
            cursor: pointer;
            font-size: 18px;
            line-height: 22px;

            opacity: 60%;

            transition: opacity 0.2s;          
            &:hover{
                opacity: 1;
            }
            span{
                color: #2F4956;
            }

        }
        
    }       
}

