.leftl{
    background-color: #F7F8FC;
    
    height: 100vh;
    width: 25%;
    padding: 10px;
    float: left;
    align-items: center;
    display: flex;
    justify-content:center;
    text-align: center;

}

.lg{
    background: #363740;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    form{
      
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      height: 400px;
      width: 800px;   
      background: #F7F8FC;
      opacity: 90%;
      border-radius: 45px;
      box-shadow: 10px 10px 30px #97DEFF;
      
      label{
        font-style: normal;
        font-weight: normal;
        align-items: center;
        color: #2F4956; 
        padding: 10px; 
        padding-top: 6%;
        font-size: 24px;
        
        a{
          text-decoration: none;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #2F4956;
          margin-left: 200px;
        }
        
      }
      h1{
        font-style: normal;
        font-weight: normal;
        align-items: center;
        color: #2F4956; 
        padding: 10px; 
        padding-top: 6%;
        font-size: 24px;     
      }
      
      span{
        color: #97DEFF;
      }
      
      input{
        width: 500px;
        height: 40px;
        background: #f3f3f4;
        border-radius: 8px;
        border:1px solid #0000;
        
        
        padding: 0 10px;
        font-size: 18px;  
        font-family: 'Roboto',sans-serif; 
        outline: none;
        
        transition: border 0.2s;
        
        &:hover{
          background-color: #fff;
          border:3px solid #97DEFF;
        }
        &:focus{
          background-color: #fff;
          border:3px solid #97DEFF;
        }
        
      }
      button{
        width: 420px;
        height: 40px;
        background: rgba(151, 222, 255, 0.7);
        border-radius: 15px;
        padding: 0.5rem 4rem;
        color: #ffff;
        margin-top: 30px;
        cursor: pointer;
        font-size: 18px;
        line-height: 22px;
        outline: none;
        box-shadow: 8px 8px 50px gray;
        opacity: 60%;
        
        transition: opacity 0.2s;          
        &:hover{
          opacity: 1;
        }
        span{
          color: #2F4956;
        }
        
      }
        
    }       
    
    
@media(max-width: 1300px){
  .leftl{
    float: none;
    height: 30vh;
    width: 100vw;
  }
  .lg{
    height: 70vh;
  }
  
  
  @media(max-width:745px){
    .leftl{
      p{
        font-size: 55px;
      }
    }
  }
  @media(max-width:400px){
    .leftl{
      p{
        font-size: 55px;
      }
    }
    .lg{
      form{
        padding: 40px;
      }
    }
  }
  @media(max-width:360px){
    .leftl{
      p{
        font-size: 40px;
      }
    }
    .lg{
      form{
        padding: 20px;
        border-radius: 20px;
      }
    }
  }
}

}